.banner-titulo{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    font-family: 'Pacifico', cursive;
    font-size: 8.1rem;
    color: white;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    transform: translate(-50%, -50%); /* repositions an element in the horizontal and or vertical directions */
}