.personas{
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width:0px) {
    .personas{
        flex-direction: column;
    }
}

@media screen and (min-width:768px) {
    .personas{
        flex-direction: row;
    }
}