.receta{
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    background-color: #fdfdfd;
}

@media screen and (min-width:0px) {
    .receta{
        width: 100%;
        margin-right: 1.6rem;
    }
}

@media screen and (min-width:768px) {
    .receta{
        width: calc(33% - 4rem);
        margin-right: 4rem;
    }
}

@media screen and (min-width:922px) {
    .receta{
        width: calc(25% - 8rem);
        margin-right: 8rem;
    }
}